<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tammamkhalaf.myuaeguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyUaeGuide"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".user.FavActivity"></activity>
        <activity
            android:name=".helperClasses.homeAdapter.featured.ShowFeaturedPlace"
            android:label="@string/title_activity_show_featured_place"
            android:theme="@style/Theme.MyUaeGuide.NoActionBar" />
        <activity android:name=".locationOwner.RetailerDashboard" />
        <activity android:name=".common.loginSignup.forgetPassword.SetNewPassword" />
        <activity android:name=".common.loginSignup.forgetPassword.ForgetPasswordSuccessMessage" />
        <activity android:name=".common.loginSignup.MakeSelection" />
        <activity android:name=".common.loginSignup.forgetPassword.ForgetPassword" />
        <activity android:name=".common.loginSignup.VerifyOTP" />
        <activity android:name=".common.loginSignup.Login" />
        <activity android:name=".common.loginSignup.signUp.SignUp3rdClass" />
        <activity android:name=".common.loginSignup.signUp.SignUp2ndClass" />
        <activity android:name=".common.loginSignup.signUp.SignUp" />
        <activity android:name=".common.loginSignup.RetailerStartUpScreen" />
        <activity android:name=".user.AllCategories" />
        <activity android:name=".common.OnBoarding" />
        <activity android:name=".user.UserDashboard" />
        <activity android:name=".common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>