<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tammamkhalaf.myuaeguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyUaeGuide"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".user.FavoriteActivity" />
        <activity
            android:name=".helperClasses.homeAdapter.featured.ShowFeaturedPlace"
            android:label="@string/title_activity_show_featured_place"
            android:theme="@style/Theme.MyUaeGuide.NoActionBar" />
        <activity android:name=".locationOwner.RetailerDashboard" />
        <activity android:name=".common.loginSignup.forgetPassword.SetNewPassword" />
        <activity android:name=".common.loginSignup.forgetPassword.ForgetPasswordSuccessMessage" />
        <activity android:name=".common.loginSignup.MakeSelection" />
        <activity android:name=".common.loginSignup.forgetPassword.ForgetPassword" />
        <activity android:name=".common.loginSignup.VerifyOTP" />
        <activity android:name=".common.loginSignup.Login" />
        <activity android:name=".common.loginSignup.signUp.SignUp3rdClass" />
        <activity android:name=".common.loginSignup.signUp.SignUp2ndClass" />
        <activity android:name=".common.loginSignup.signUp.SignUp" />
        <activity android:name=".common.loginSignup.RetailerStartUpScreen" />
        <activity android:name=".user.AllCategories" />
        <activity android:name=".common.OnBoarding" />
        <activity android:name=".user.UserDashboard" />
        <activity android:name=".common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.here.android.maps.appid" android:value="{WBxqrkW7yaro8inXngMW}"/>
        <meta-data android:name="com.here.android.maps.apptoken" android:value="{391hkRjz5Z3Ee1h3wz6Kng}"/>
        <meta-data android:name="com.here.android.maps.license.key" android:value="{EulhoffF1D7VD+JQsmNcV4jPh7mu5eCByvIdwoei1V7p+jcveReERydbZ3
        jmsSsHgI8Y8+c7ydEHLYLdhh40/sLoW2ni/
        DDH+aG9GxyZAOkmKBtFgpGnCG/I2jntJGnlTyOUjBZHSfJZ6fuXc4r1evvyeAtppb91ElI4LKmFLPWmNMs3Aq1E6LsTCRVRo/
        bZyGGjVgdt6Qxd14WQ9913+52k055iO3IyCLGZn2sylG0akQXrDnzpDj9MgSPBfP7F7VjQo1yNsk343FCsRtgT+esmncwTX2woqJ5yxJNZECQCtrM9aorMpHv7Qy/
        owioDeCYho35FCfBdrUIMhyXvIgnVGxlc45dxKokbQ3x7OlkbUxekAWt8wtLNHnDPH259BMFuSaCLgMaRc/xVT+gH2BKk2CykFCK8z2sOvUxNMQzS6a9QefcMplzxHtpzNnc
        7y0v17PHeLqZmBd4W93u8kfssxatRCBpYLKSziLXkJbR6gnFPdTiS5zuNyVIhsJp1K4B1ElleuvARdJtUhifVLpSGOSiDYDx6+RCdVAj99cThRSPjCWnhsYlis2cBIkAXo
        KoYManf3TKT+wbZ87DPJjhOFt6q6R4TjGk+dEJ8KjAiOSXc7p8yXEXxDzt5Peni6UpZ2oowIoWzT0BBDcW3IM61CfbP7CeMNryNoE9GmHw=}"/>


    </application>

</manifest>